@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    display: none;
}

@media(max-width:900px){
    .background-container{
        height: 600px;
    }
    .container{
        height: auto;
    }
}
@media(max-width:700px){
    .container{
        width: 90%;
    }
}
@media(max-width:1000px){
   .site-qsn{
    font-size: 28px;
   }
   .site-ans{
    font-size: 14px;
    padding-top: 0;
   }
}

@media(max-width:800px){
    .bottom-top{
        flex-direction: column-reverse;
        padding: 40px;
    }
    .best,.info{
        width: 100%;
    }
    .site-qsn{
        font-size: 36px;
        padding-bottom: 0;
        
       }
       .site-ans{
        font-size: 18px;
        padding-top:16px;
       }
       .Btn{
        width: 75vw;
       }

       .summery{
        display: none;
       }
}

@media(max-width:450px){
    .site-qsn{
     font-size: 24px;
    }
    .site-ans{
     font-size: 12px;
    }
 }

 @media(max-width:600px){
    .faq-qsn{
        font-size: 16px;
    }
    .faq-ans{
        font-size: 12px;
    }
 }

  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE and Edge */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
}

@keyframes beat {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.6); /* Scale up */
    }
    100% {
      transform: scale(1); /* Scale back to original */
    }
  }
  
  .extra-menu-svg {
    animation: beat 1s infinite; /* Apply the beat animation */
    transition: fill 0.3s ease;
  }
  

  @media (max-width:550px) {
    .genre-button{
        font-size: 14px;
    }
  }

  @media(max-width:1300px){
    .carousel{
        height: 550px;
    }
    .title-slider{
        font-size: 55px;
    }
  }
  @media(max-width:1200px){
    .carousel{
        height: 500px;
    }

    .title-slider{
        font-size: 50px;
    }
  }
  @media(max-width:1100px){
    .carousel{
        height: 480px;
    }
    .title-slider{
        font-size: 45px;
    }
    .icon{
        width: 22px;
        height: 22px;
    }
    .logo{
        font-size: 35px;
    }
    .nav{
        padding: 10px 25px;
    }
    .voltage-button{
        font-size: 16px;
    }
    .detailbtn{
            font-size: 16px;
    }
  }
  @media(max-width:1000px){
    .carousel{
        height: 440px;
    }
    .title-slider{
        font-size: 40px;
    }
    .logo{
        font-size: 30px;
    }
  }
  @media(max-width:950px){
    .controll-btn{
        display: none;
    }
    .pagination{
        top: 50%;
    }
    .carousel{
        height: 410px;
    }
  }
  @media(max-width:900px){
    .carousel{
        height: 390px;
    }
    .title-slider{
        font-size: 35px;
    }
  }
  @media(max-width:800px){
    .carousel{
        height: 350px;
    }
    .summery{
        display: none;
    }
    .langs{
        display: none;
    }
    .spotlight{
        font-size: 14px;
    }
    .type{
        font-size: 12px;
    }
    .slider-name{
        font-size: 10px;
    }
    
  }

  @media(max-width:700px){
    .carousel{
        height: 310px;
    }
    .title-slider{
        font-size: 28px;
    }
    .voltage-button button{
        padding: 8px 15px ;
    }
    .detailbtn{
        padding: 0.3em 1.5em;
    }
    .slider-name{
        padding-bottom: 0px;
    }
    .detailcontainer{
        padding: 3px 15px ;
    }
   }
  @media(max-width:600px){
    .carousel{
        height: 300px;
    }
    .title-slider{
        font-size: 22px;
    }
    .slider-btns{
        padding-top: 8px;
    }
    .voltage-button button{
        font-size: 12px;
    }
    .detailbtn{
        font-size: 12px;
    }
  }

  @media(max-width:400px){
    .voltage-button button{
        padding: 8px 10px ;
        font-size: 12px;
    }
    .detailbtn{
        padding: 0.3em 1em;
        font-size: 12px;
    }
    .slider-name{
        padding-bottom: 0px;
    }
    .detailcontainer{
        padding: 3px 15px ;
    }
    .title-slider{
        font-size: 20px;
    }
    .spotlight{
        font-size: 11px;
    }

  }

  @media (max-width:1000px) {
    .anime-in-trend{
        min-width: 170px;
        min-height: 240px;
    }
    .rank{
        font-size: 50px;
    }
  }
  @media (max-width:800px) {
    .anime-in-trend{
        min-width: 140px;
        min-height: 220px;
    }
    .rank{
        font-size: 40px;
    }
  }
  @media (max-width:550px) {
    .anime-in-trend{
        min-width: 120px;
        min-height: 180px;
    }
    .rank{
        font-size: 30px;
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display:none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  

  .anime-dubbed{
    max-width: 25vw;
    min-width: 350px;
    width: calc(25% - 10px);
    min-height: 300px;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ce783;
  }